.small-img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    display: block;
}

.form__item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 60px;
        /* 画像同士の間隔 */
        justify-items: center;
        /* 中央揃え */
        margin: 40px 0;
}

.item-name {
    font-size: 25px;
}

.mypage-content {
    display: flex;
    align-items: center;
    justify-content: center;
        /* 中央寄せ */
        gap: 100px;
        /* 各要素の間隔を調整 */
        margin: 70px 0;
    }

.item-content {
    width: 250px;
    margin: 25px;
}

.nav__inner {
    border-bottom: 2px solid #5F5F5F;
    font-weight: 700;

}

.buy {
    color: #5F5F5F;
    text-decoration: none;
    padding: 0 20px 0 150px;
    font-weight: bold;
    font-size: 24px;
}

.sell {
    color: #5F5F5F;
    text-decoration: none;
    padding: 0 20px 0 40px;
    font-weight: bold;
    font-size: 24px;
}


.user-name {
    font-size: 36px;
    font-weight: bold;
}

.profile-button a {
    display: inline-block;
    font-weight: bold;
    font-size: 26px;
    padding: 8px 20px;
    color: #FF5555;
    /* 文字色を赤に */
    border: 2px solid #FF5555;
    /* 赤い枠線 */
    border-radius: 10px;
    /* 角を丸く */
    text-decoration: none;
    /* 下線を消す */
    transition: 0.3s;
    margin-left: 150px;
}

.profile-button:hover a {
    background-color: #FF0000;
    color: #fff;
}

.sell.active,
.buy.active {
    color: #FF0000;
}


