.small-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.form__item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form__mypage {
    width: 250px;
    margin: 25px;
    }

.item-content {
    width: 250px;
    margin: 25px;
}

.nav__inner {
    border-bottom: 2px solid #5F5F5F;
    padding-top: 47px;
    font-weight: 700;

}

.buy {
    color: #5F5F5F;
    text-decoration: none;
    padding: 0 20px 0 150px;
    font-weight: bold;
    font-size: 24px;
}

.sell {
    color: #5F5F5F;
    text-decoration: none;
    padding: 0 20px 0 40px;
    font-weight: bold;
    font-size: 24px;
}

.profile-button a {
    display: inline-block;
    padding: 8px 20px;
    color: #FF5555;
    /* 文字色を赤に */
    border: 2px solid #FF5555;
    /* 赤い枠線 */
    border-radius: 10px;
    /* 角を丸く */
    text-decoration: none;
    /* 下線を消す */
    font-weight: bold;
}

.profile-button:hover a {
    background-color: #FF0000;
    color: #fff;
}

.sell.active,
.buy.active {
    color: #FF0000;
}


