.small-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.form__item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item-content {
    width: 250px;
    margin: 25px;
}

.nav__inner {
    border-bottom: 2px solid #5F5F5F;
    padding-top: 47px;
    font-weight: 700;
    
}

.nav {
    color: #5F5F5F;
    text-decoration: none;
    padding: 0 20px 0 150px;
    font-weight: bold;
    font-size: 24px;
}

.mylist__nav {
    color: #5F5F5F;
    text-decoration: none;
    padding: 0 20px 0 40px;
    font-weight: bold;
    font-size: 24px;
}

.nav.active,
.mylist__nav.active {
    color: #FF0000;
}



.sold-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    font-size: 36px;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
    text-align: center;
}