.sell-form__inner {
    background: #fff;
    /* 白背景 */
    margin: auto;
    /* 上下中央寄せ */
    padding: 40px;
    border-radius: 8px;
    box-sizing: border-box;
    /* padding込みで680×656になる */
}

h2 {
font-size: 36px;
font-weight: bold;
}

.form__group-content input[type="file"] {
    display: none;
    /* 実際のinputは非表示に */
}

/* 見た目のボックス */
.form__group-content {
    border: 2px dashed #5F5F5F;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    /* 好みに応じて調整 */

}

/* hover時の効果 */
.form__group-content:hover {
    background-color: #fff0f0;
    border-color: #FF0000;
}

/* ボタンのように見せる */
.form__group-content::after {
    content: "画像を選択する";
    display: inline-block;
    padding: 1px 5px;
    margin: 2px;
    border: 2px solid #FF5555;
    color: #FF5555;
    transition: all 0.2s;
}

.form__error {
    height: 20px;
    color: #ff0000;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper .prefix {
    position: absolute;
    left: 10px;
    top: 55%;
    transform: translateY(-50%);
    pointer-events: none;
    /* 入力の邪魔にならないようにする */
}

.input-wrapper input {
    padding-left: 20px;
    /* prefixの分だけ左に余白を作る */
}

.checkbox input[type="checkbox"] {
    position: absolute;
    /* レイアウトから外す */
    opacity: 0;
}

.checkbox label span {
    display: inline-block;
    padding: 1px 5px;
    margin: 2px;
    border: 2px solid #FF5555;
    border-radius: 50px;
    color: #FF5555;
    transition: all 0.2s;
}

/* hover時 */
.checkbox label span:hover {
    background-color: #FF0000;
    color: #fff;
}

/* チェックされた場合 */
.checkbox input[type="checkbox"]:checked+span {
    
    background-color: #FF0000;
    color: #FFFFFF;
    border-color: #FF5655;
}

